#miecont {
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -1;
}
.window {
  resize: both;
  max-width: 100%;
  margin: 0 2px;
  padding: 0;
  position: absolute;
}
.window .handle {
  height: 30px;
  overflow: hidden;
  background: #7baaed;
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
  cursor: move;
  border-radius: 15px 15px 0px 0px ;
  box-shadow: inset 0px 20px 20px -10px #a8c7f3;
  color: #fff;
  -webkit-transition: all 0.2S;
  -moz-transition: all 0.2S;
  -ms-transition: all 0.2S;
  -o-transition: all 0.2S;
  transition: all 0.2S;
}
.window .handle:hover {
  text-shadow: 0px 0px 3px #ffffff;
}
.window .handle span {
  position: relative;
  top: 10px;
  margin: 0 10px;
}
.window .handle .minimize {
  border-style: hidden ;
  border-radius: 0px 15px 0px 0px ;
  float: right;
  height: 30px;
  width: 30px;
  background-color: #ff3b14;
  box-shadow: inset 0px 20px 20px -10px #ff907a, inset 7px 0px 0px -6px #808080;
  -webkit-transition: all 0.2S;
  -moz-transition: all 0.2S;
  -ms-transition: all 0.2S;
  -o-transition: all 0.2S;
  transition: all 0.2S;
}
.window .handle .minimize:hover {
  background-color: #1fe0da;
  box-shadow: inset 0px 0px 0px 0px #79ece9;
}
.window .CodeMirror {
  margin: 0;
  padding: 0;
}
.window .footer {
  height: 20px;
  visibility: hidden;
}
.visible-window {
  width: 49%;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
}
.hidden-window {
  display: inline;
  margin: 0;
  padding: 0;
  position: absolute;
}
.hidden-window .CodeMirror,
.hidden-window #controls {
  display: none;
}
#controls-window {
  width: auto;
}
#controls-window #controls {
  resize: both;
  overflow: auto;
  background-color: #fff;
  max-width: 100%;
}
#controls-window #controls * {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
}
#controls-window #controls .controls-row {
  display: block;
  white-space: nowrap;
}
#controls-window #controls .controls-row > * {
  display: inline-block;
  border: solid #000000;
  border-width: 0 1px;
}
#controls-window #controls .controls-table > * {
  vertical-align: top;
}
#controls-window #controls input {
  -webkit-appearance: initial;
  -moz-appearance: initial;
  appearance: initial;
}
#controls-window #controls input.color1 {
  -webkit-appearance: initial;
  -moz-appearance: initial;
  appearance: initial;
}
